@import "./normalize.css";

$primary-color: green;

h1 {
  color: $primary-color;
}
.receiverAddress {
  margin-left: 30%;
  margin-top: 30px;
  font-size: 24px;
  //display: none;
}

.sendAddress {
  font-size: 24px;
  margin-top: 5px;
  //display: none;
}

@media print {
  .title{
    display: none;
  }
}
